# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Virtual environments
venv/
env/
ENV/

# Benchmark temp files
benchmark.py

# OS files
.DS_Store
Thumbs.db
